# Executables and libraries
*.exe
*.lib
*.so
*.dll
!external/**/*.dll

# Build directories
/build/
/build-ninja/
/bin/
exclude/
.cache/
!external/**/bin/

# Assets: include only box model
assets/models/*
!assets/models/box/

# Temporary files
*.log
*.obj
!assets/models/box/*.obj

# IDEs
.vscode/

# macOS
.DS_Store